<section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupons </h2>
                    <p>Add, edit or delete a coupon</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Coupons" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            
                            <form id="couponForm" action="/admin/add-coupon" method="POST">
                                <div class="mb-4">
                                    <label class="form-label">Discount percentage</label>
                                    <input type="number" placeholder="%" name="discountPercentage" class="form-control" id="product_name" />
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Minimum purchase</label>
                                    <input type="number" placeholder="₹" name="minimumPurchase" class="form-control" id="product_name" />
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Maximum Use</label>
                                    <input type="number" placeholder="" name="maximumUse" class="form-control" id="product_name" />
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Expiry date</label>
                                    <input type="date" name="expiryDate" class="form-control" id="expiry_date" required />
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Create coupon</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {{!-- <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th> --}}
                                            {{!-- <th>ID</th> --}}
                                            <th>Code</th>
                                            <th>Discount %</th>
                                            <th>Min purchase</th>
                                            <th>Max use</th>
                                            <th>Expiry Date</th>
                                            <th>Status</th>
                                            <th>Change Status</th>
                                            <th>Delete</th>
                                            {{!-- <th class="text-end">Action</th> --}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each couponDetails}}
                                        <tr>
                                            <td><b>{{this.code}}</b></td>
                                            <td style="text-align: center">{{this.discountPercentage}}</td>
                                            <td style="text-align: center">{{this.minimumPurchase}}</td>
                                            <td style="text-align: center">{{this.maximumUse}}</td>
                                            <td>{{moment this.expiryDate format='ddd, MMM D, YYYY, h:mmA'}}</td>
                                            <td id="{{this.code}}-coupon-status">
                                                {{#if this.active}}
                                                    <span class="badge rounded-pill alert-success">active</span>
                                                {{else}}
                                                    <span class="badge rounded-pill alert-danger">inactive</span>
                                                {{/if}}
                                            </td>
                                            <td style="text-align: center">
                                                <a href="/admin/coupon-status/{{this.code}}" onclick="event.preventDefault(); changeStatusConfirmation(this)" data-code="{{this.code}}">
                                                    <img src="/assets-admin/imgs/icons/edit.png" width="33em">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/admin/delete-coupon/{{this.code}}" onclick="event.preventDefault(); deleteConfirmation(this)" data-code="{{this.code}}">
                                                    <img src="/assets-admin/imgs/icons/delete.png" width="33em">
                                                </a>
                                            </td>
                                            {{!-- <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td> --}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

<script>
    const couponForm = document.getElementById('couponForm');

couponForm.addEventListener('submit', (event) => {
  event.preventDefault(); // prevent the form from submitting normally
  
  Swal.fire({
    icon: 'warning',
    title: 'Are you sure?',
    text: 'Do you want to add the coupon?',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, add it!'
  }).then((result) => {
    if (result.isConfirmed) {
      // User confirmed the action, submit the form
      couponForm.submit();
    }
  });
});

// swal for changing the status of coupon
    function changeStatusConfirmation(anchor) {
        const code = anchor.getAttribute('data-code');
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you want to change status of the coupon?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes',
        }).then((result) => {
            if (result.isConfirmed) {
                
                $.ajax({
                method: 'POST',
                url: (`/admin/coupon-status/${code}`),
                //data: $('#order-status-form').serialize(),
                success: (response) => {
                    if(response.status) {
                        Swal.fire({
                            title: "Success!",
                            text: "Coupon status updated successfully!",
                            icon: "success",
                            showConfirmButton: false,
                        });

                        let currentStatus = document.getElementById(code+'-coupon-status').querySelector('.badge').innerHTML;
                        console.log('active: ', currentStatus)
                        if (currentStatus === 'active') {
                            newStatus = 'inactive';
                            newClass = 'alert-danger';
                        } else {
                            newStatus = 'active';
                            newClass = 'alert-success';
                        }
                        document.getElementById(code+'-coupon-status').querySelector('.badge').innerHTML = newStatus;
                        document.getElementById(code+'-coupon-status').querySelector('.badge').classList.remove('alert-success', 'alert-danger');
                        document.getElementById(code+'-coupon-status').querySelector('.badge').classList.add(newClass);

                       // setTimeout(() => {
                       // location.reload();
                       // },2000);

                    }
                },
                error: (response, stat, err) => {
                    console.log(response);
                }

            })
                // Redirect to the unlist URL
                //window.location.href = anchor.href;
            }
        });
    }

    // swal to delete a brand
    function deleteConfirmation(anchor) {
        const code = anchor.getAttribute('data-code');
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you want to delete this coupon?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Success!",
                    text: "Coupon deleted successfully.",
                    icon: "success",
                    showConfirmButton: false,
                });
                // Redirect to the delete URL
                setTimeout(() => {
                    window.location.href = anchor.href;
                },2000);
            }
        });
    }

    // disappear brand add validation error messages
    // Select all the error alerts
    const errorAlerts = document.querySelectorAll('.brand-add-validation-alert');
    // Loop through the error alerts
    errorAlerts.forEach(alert => {
        // Set a timeout of 5 seconds to remove the alert
        setTimeout(() => {
        alert.remove();
        }, 5000);
    });

</script>