<section class="content-main">
            <div class="row">
                {{!-- <form id="all-forms" method="POST" action="/submit-all-forms"> --}}
                <form id="all-forms" action="/admin/edit-product/{{product.slug}}" method="POST" enctype="multipart/form-data">

                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                            {{!-- <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                            </div> --}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                <form id="form1">
                                {{!-- <input type="hidden" name="form1" value="true"> --}}
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        <input type="text" value="{{product.title}}" name="title" class="form-control" id="product_name">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea name="description" class="form-control" rows="4">{{product.description}}</textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Price</label>
                                                <div class="row gx-2">
                                                    <input value="{{product.price}}" type="number" name="price" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Quantity</label>
                                                <input value="{{product.quantity}}" type="number" name="quantity" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Color</label>
                                            <input type="text" value="{{product.color}}" required="" name="color" class="form-control">
                                        </div>
                                    </div>
                                    {{!-- <div class="mb-4">
                                        <label class="form-label">Tax rate</label>
                                        <input type="text" placeholder="%" class="form-control" id="product_name">
                                    </div> --}}
                            
                                </form>
                            </div>
                        </div> <!-- card end// -->
                        {{!-- <div class="card mb-4">
                            <div class="card-header">
                                <h4>Shipping</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Width</label>
                                                <input type="text" placeholder="inch" class="form-control" id="product_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Height</label>
                                                <input type="text" placeholder="inch" class="form-control" id="product_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Weight</label>
                                        <input type="text" placeholder="gam" class="form-control" id="product_name">
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Shipping fees</label>
                                        <input type="text" placeholder="$" class="form-control" id="product_name">
                                    </div>
                                </form>
                            </div>
                        </div> <!-- card end// --> --}}
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <form id="form2">
                                    <div class="input-upload">
                                        <img src="/assets-admin/imgs/theme/upload.svg" alt="">
                                        <input class="form-control" type="file" required="" name="images" multiple="" >
                                    </div>
                                </form>
                            </div>
                        </div> <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Organization</h4>
                            </div>
                            <div class="card-body">
                                <form id="form3">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select name="category" class="form-select">
                                                <option value="">Select a category</option>
                                                <option value="Men">Men</option>
                                                <option value="Women">Women</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Sub-category</label>
                                            <select name="subCategory" class="form-select">
                                                <option value="">Select a Sub category</option>
                                                <option value="Sneakers">Sneakers</option>
                                                <option value="Casuals">Classics</option>
                                                <option value="Casuals">Slides</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Brand</label>
                                            <input type="text" value="{{product.brand}}" required="" name="brand" class="form-control">
                                        </div>
                                    </div> <!-- row.// -->
                                </form>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                    {{!-- <button id="publish-btn" type="button">Publish</button> --}}
                    <button id="publish-btn" class="btn btn-md rounded font-sm hover-up" type="submit">Submit</button>

                </form>
            </div>
        </section> <!-- content-main end// -->

<script>
  const publishBtn = document.getElementById('publish-btn');
  const allForms = document.getElementById('all-forms');

  publishBtn.addEventListener('click', () => {
    allForms.submit();
  });
</script>