<section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: {{orderData.orderId}}</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>{{moment orderData.createdAt format='ddd, MMM D, YYYY, h:mmA'}}</b>
                            </span> <br>
                            <small class="text-muted">Order ID: {{orderData.orderId}}</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <form id="order-status-form" action="/admin/order-status" method="post">
                            <input type="text" hidden name="orderId" value="{{orderData.orderId}}">
                            <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="orderStatus">
                                <option>Change order status</option>
                                {{!-- <option>Awaiting payment</option>
                                <option>Confirmed</option> --}}
                                <option value="shipped">Shipped</option>
                                <option value="delivered">Delivered</option>
                            </select>
                            {{!-- <a class="btn btn-primary" type="submit" href="/admin/order-status">Save</a> --}}
                            <button type="submit" class="btn btn-primary">Save</a>
                            {{!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> --}}
                            </form>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        {{userData.firstname}} {{userData.lastname}} <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>{{userData.email}} <br> {{userData.mobile}}
                                    </p>
                                    {{!-- <a href="#">View profile</a> --}}
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express 
                                        <br> Pay method: {{#if (equal orderData.paymentMethod 'cod')}} Cash on delivery
                                                         {{else if (equal orderData.paymentMethod 'razorPay')}} Razor Pay
                                                         {{/if}}
                                        <br> Status: {{#if (equal orderData.orderStatus "placed")}}
                                            <small class="badge rounded-pill alert-success">Placed</small>
                                            {{else if (equal orderData.orderStatus "pending")}}
                                            <small class="badge rounded-pill alert-warning">Pending</small>
                                            {{else if (equal orderData.orderStatus "delivered")}}
                                            <small class="badge rounded-pill alert-success">Delivered</small>
                                            {{else if (equal orderData.orderStatus "shipped")}}
                                            <small class="badge rounded-pill alert-success">Shipped</small>
                                            {{else if (equal orderData.orderStatus "cancelled")}}
                                            <small class="badge rounded-pill alert-danger">Cancelled</small>
                                            {{else if (equal orderData.orderStatus "return")}}
                                            <small class="badge rounded-pill alert-danger">Return initiated</small>
                                            {{!-- <p style="color: red;">Return initiated</p> --}}
                                            {{/if}}
                                    </p>
                                    {{!-- <a href="#">Download info</a> --}}
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        {{orderData.deliveryDetails.locality}}, {{orderData.deliveryDetails.area}}<br>{{orderData.deliveryDetails.district}}, {{orderData.deliveryDetails.state}}<br> Pin: {{orderData.deliveryDetails.pincode}}
                                    </p>
                                    {{!-- <a href="#">View profile</a> --}}
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        {{!-- <div class="col-lg-7"> --}}
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            {{!-- <th width="10%">Image</th>
                                            <th width="30%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th> --}}
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each foundProducts}}
                                        <tr>
                                            <td>
                                                <a class="itemside" href="/admin/products/{{this.slug}}">
                                                    {{!-- <div class="left"> --}}
                                                        <img src="/uploads/products/{{first this.images}}" width="40" height="40" class="img-xs" alt="Item">
                                                    {{!-- </div> --}}
                                                    {{!-- <div class="info"> T-shirt blue, XXL size </div> --}}
                                                </a>
                                            </td>
                                            <td><a href="/admin/products/{{this.slug}}">{{this.title}}</a></td>
                                            <td> {{formatNumber this.price style="currency" currency="INR" minimumFractionDigits=2}} </td>
                                            <td> {{this.quantity}} </td>
                                            <td class="text-end"> {{formatNumber this.subTotal style="currency" currency="INR" minimumFractionDigits=2}} </td>
                                        </tr>
                                        {{/each}}

                                        <tr>
                                            <td colspan="5">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>{{formatNumber orderData.totalPrice style="currency" currency="INR" minimumFractionDigits=2}}</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>{{formatNumber 0 style="currency" currency="INR" minimumFractionDigits=2}}</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">{{formatNumber orderData.totalPrice style="currency" currency="INR" minimumFractionDigits=2}}</b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            {{#if (equal orderData.paymentStatus "paid")}}
                                                            <span class="badge rounded-pill alert-success">Payment done</span>
                                                            {{else if (equal orderData.paymentStatus "pending")}}
                                                            <span class="badge rounded-pill alert-warning">Pending</span>
                                                            {{else if (equal orderData.paymentStatus "cancelled")}}
                                                            <span class="badge rounded-pill alert-danger">Cancelled</span>
                                                            {{else if (equal orderData.paymentStatus "return")}}
                                                            <span class="badge rounded-pill alert-danger">Refund initiated</span>
                                                            {{!-- <p style="color: red;">Return initiated</p> --}}
                                                            {{/if}}
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        {{!-- <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="/assets-admin/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div>
                        </div>  --}}
                        <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section>

        <script>
$("#order-status-form").submit((event) => {
        event.preventDefault();
        $.ajax({
            method: 'POST',
            url: ('/admin/order-status'),
            data: $('#order-status-form').serialize(),
            success: (response) => {
                if(response.status) {
                    Swal.fire({
                        title: "Success!",
                        text: "Order status updated successfully!",
                        icon: "success",
                        showConfirmButton: false,
                    });

                    setTimeout(() => {
                    location.reload();
                    },2000);

                }
            },
            error: (response, stat, err) => {
                console.log(response);
            }

        })
    })
        </script>