<main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Orders
                </div>
            </div>
        </div>
{{#if orderDetails}}

        <section class="mt-50 mb-50">
            <div class="container">
                <span id="total-pages" hidden>{{totalPages}}</span>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean all-orders">
                                <thead>
                                    <tr class="main-heading">

                                        <th scope="col">Sl No.</th>
                                        <th scope="col">OrderId</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col">Order Status</th>
                                        <th scope="col">Payment Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orderDetails}}
                                    <tr>
                                        <td>
                                        {{index @index}}
                                    </td>

                                    <td>
                                        {{this.orderId}}
                                    </td>
                                        <td class="price" data-title="Price">
                                            {{#if this.grandTotalPrice}}
                                            <span>{{formatNumber this.grandTotalPrice style="currency" currency="INR" minimumFractionDigits=2}}</span>
                                            {{else}}
                                            <span>{{formatNumber this.totalPrice style="currency" currency="INR" minimumFractionDigits=2}}</span>
                                            {{/if}}
                                        </td>
                               
                

                                        <td class="text-right" data-title="Cart">
                                            {{#if (equal this.orderStatus "placed")}}
                                            <span class="badge rounded-pill alert-success">Placed</span>
                                            {{else if (equal this.orderStatus "pending")}}
                                            <span class="badge rounded-pill alert-warning">Pending</span>
                                            {{else if (equal this.orderStatus "received")}}
                                            <span class="badge rounded-pill alert-success">Received</span>
                                            {{else if (equal this.orderStatus "shipped")}}
                                            <span class="badge rounded-pill alert-success">Shipped</span>
                                            {{else if (equal this.orderStatus "delivered")}}
                                            <span class="badge rounded-pill alert-success">Delivered</span>
                                            {{else if (equal this.orderStatus "cancelled")}}
                                            <span class="badge rounded-pill alert-danger">Cancelled</span>
                                            {{else if (equal this.orderStatus "return")}}
                                            <span class="badge rounded-pill alert-danger">Return initiated</span>
                                            {{!-- <p style="color: red;">Return initiated</p> --}}
                                            {{/if}}
                                        </td>
                                        <td>
                                            {{#if (equal this.paymentStatus "paid")}}
                                            <span class="badge rounded-pill alert-success">Paid</span>
                                            {{else if (equal this.paymentStatus "pending")}}
                                            <span class="badge rounded-pill alert-warning">Pending</span>
                                            {{else if (equal this.paymentStatus "cancelled")}}
                                            <span class="badge rounded-pill alert-danger">Cancelled</span>
                                            {{else if (equal this.paymentStatus "return")}}
                                            <span class="badge rounded-pill alert-danger">Refund initiated</span>
                                            {{!-- <p style="color: red;">Return initiated</p> --}}
                                            {{/if}}
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                        <a href="/order-details?orderId={{this.orderId}}"
                                            class="btn btn-md rounded font-sm">View</a>
                                    </td>
                                    </tr>
                                    {{/each}}

                                    
                                </tbody>
                            </table>
                        </div>

                        <br>
                        {{!-- <div class="pagination-area mt-15 mb-50 position-absolute bottom-0"> --}}
                        <div class="pagination-area mt-15 mb-50">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    
                                </ul>
                            </nav>
                        </div>
                       
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                         <div class="cart-action text-end">
                            {{!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> --}}
                            <a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
             
        </section>
    </main>
{{else}}
<div class="container">
  <div class="row">
    <div class="col-md-12 my-5 py-5 text-center bg-light">
      <h1 class="display-4">No orders in the list!</h1>
    </div>
  </div>
</div>

{{/if}}
{{#if orderDetails}}
{{else}}
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-action text-end">
                    <a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}


<script>
    
// Pagination 
const totalPages = parseInt(document.getElementById('total-pages').innerHTML);
if (totalPages > 1) {

const generatePaginationButtons = (totalPages) => {
  let html = '';
  for (let i = 1; i <= totalPages; i++) {
    html += `<li class="page-item"><a class="page-link" href="#">${i}</a></li>`;
  }
  return html;
};

const paginationContainer = document.querySelector('.pagination-area ul');
paginationContainer.innerHTML = generatePaginationButtons(totalPages);

paginationContainer.addEventListener('click', async (event) => {
  event.preventDefault();
  const page = event.target.textContent;
  const url = `/orders?page=${page}`;
  const response = await fetch(url);
  const data = await response.text();
  const parser = new DOMParser();
  const html = parser.parseFromString(data, 'text/html');
  
  const productListContainer = document.querySelector('.all-orders');
  const newProductList = html.querySelector('.all-orders');
  productListContainer.innerHTML = newProductList.innerHTML;
});
}
</script>