<main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                {{#if pageShop}}
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
                {{/if}} 

                {{#if pageCategory}}
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <a href="/shop"><span></span> Shop</a>
                    <span></span> {{categoryHeading}}'s Footwear
                </div>
                {{/if}} 

                {{#if pageSubCategory}}
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <a href="/shop"><span></span> Shop</a>
                    <a href="/categories/{{categorySlug}}"><span></span> {{categoryHeading}}'s Footwear</a>
                    <span></span> {{subHeading}}
                </div>
                {{/if}}

                {{#if pageBrand}}
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <a href="/shop"><span></span> Shop</a>
                    <span></span> {{brandHeading}}
                </div>
                {{/if}} 
                
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9 position-relative">
                        <div class="shop-product-fillter style-2">
                            {{!-- <div class="totall-product">
                                <p> We found <strong class="text-brand">688</strong> items for you!</p>
                            </div> --}}
                            <div>
                                {{#if pageShop}}
                                <h3 class="section-title mb-20"><span>All</span> Products</h3>
                                {{!-- <span id="shop-page-type" hidden>shop</span> --}}
                                {{/if}} 
                                {{#if pageCategory}}
                                <h3 class="section-title mb-20"><span>{{categoryHeading}}'s</span> Footwear</h3>
                                {{!-- <span id="shop-page-type" hidden>category</span> --}}
                                {{/if}} 
                                {{#if pageSubCategory}}
                                <h3 class="section-title mb-20"><span>{{categoryHeading}}'s</span> {{subHeading}}</h3>
                                {{!-- <span id="shop-page-type" hidden>subCategory</span> --}}
                                {{/if}}
                                {{#if pageBrand}}
                                <h3 class="section-title mb-20"><span>{{brandHeading}}</span></h3>
                                {{!-- <span id="shop-page-type" hidden>brand</span> --}}
                                {{/if}} 
                            
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">Featured</a></li>
                                            <li><a href="#">Price: Low to High</a></li>
                                            <li><a href="#">Price: High to Low</a></li>
                                            <li><a href="#">Release Date</a></li>
                                            <li><a href="#">Avg. Rating</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row product-grid-3 all-products">
                            <!--single product-->
                            {{#each allProducts}}
                             {{#if this.isDeleted}}
                             {{else}}
                             
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/products/{{this.slug}}">
                                                <img class="default-img" src="/uploads/products/{{first this.images}}" alt="">
                                                <img class="hover-img" src="/uploads/products/{{second this.images}}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            {{!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                                                data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i></a> --}}
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/add-to-wishlist/{{this._id}}" onclick="event.preventDefault(); addToWishlistConfirmation(this)" data-id="{{this._id}}"><i class="fi-rs-heart"></i></a>
                                            {{!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                    class="fi-rs-shuffle"></i></a> --}}
                                        </div>
                                        {{!-- <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div> --}}
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/brands/{{this.brandSlug}}">{{this.brand}}</a>
                                        </div>
                                        <h2><a href="/products/{{this.slug}}">{{this.title}}</a></h2>
                                        {{!-- <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div> --}}
                                        <div>
                                            <a href="/categories/{{this.categorySlug}}">{{this.category}}'s </a>
                                            <a href="/sub-categories/{{this.subCategorySlug}}">{{this.subCategory}}</a>
                                        </div>
                                        <div class="product-price">
                                            <span> {{formatNumber this.price style="currency" currency="INR" minimumFractionDigits=2}} </span>
                                            {{!-- <span class="old-price">$245.8</span> --}}
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-cart/{{this._id}}" onclick="event.preventDefault(); addToCartConfirmation(this)" data-id="{{this._id}}"><i class="fi-rs-shopping-bag-add"></i></a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                                {{#if ../pageShop}}
                                <span class="shop-page-type" hidden>shop</span>
                                <span class="shop-slug" hidden>dummy</span>
                                {{/if}} 
                                {{#if ../pageCategory}}
                                <span class="shop-slug" hidden>{{this.categorySlug}}</span>
                                <span class="shop-page-type" hidden>category</span>
                                {{/if}} 
                                {{#if ../pageSubCategory}}
                                <span class="shop-slug" hidden>{{this.subCategorySlug}}</span>                                
                                <span class="shop-page-type" hidden>subCategory</span>
                                {{/if}}
                                {{#if ../pageBrand}}
                                <span class="shop-slug" hidden>{{this.brandSlug}}</span>                                
                                <span class="shop-page-type" hidden>brand</span>
                                {{/if}} 

                            {{/if}}
                            {{/each}}
                            <!--single product--> 
                        </div>
                        <!--pagination-->
                        <span id="total-pages" hidden>{{totalPages}}</span>
                        {{!-- {{#if pageShop}} --}}
                        <br>
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0 position-absolute bottom-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                
                                </ul>
                            </nav>
                        </div>
                        {{!-- {{/if}} --}}
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        {{#each allCategories}}
                        {{#if this.isDeleted}}
                        {{else}}
                        <div class="widget-category mb-30">
                            <a href="/categories/{{this.slug}}s-footwear">
                                <h5 class="section-title style-1 mb-30 wow fadeIn animated">{{this.title}}'s Footwear</h5>
                            </a>
                            <ul class="categories">
                                {{#each ../allSubCategories}}
                                {{#if this.isDeleted}}
                                {{else}}
                                <li><a href="/sub-categories/{{../this.slug}}s-{{this.slug}}">{{this.title}}</a></li>
                                {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                        {{/each}}
                    
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brands</h5>
                            <ul class="categories">
                                {{#each allBrands}}
                                {{#if this.isDeleted}}
                                {{else}}
                                {{!-- {{#if (filter allProducts (fn p) (and (contains p.allCategories title) (contains p.allSubCategories title) (eq p.brand this.title)))}} --}}
                                <li><a href="/brands/{{this.slug}}">{{this.title}}</a></li>
                                {{/if}}
                                {{!-- {{/if}} --}}
                                {{/each}}
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        {{!-- <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Color</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Red (56)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>Green (78)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Blue (54)</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">Item Condition</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>New (1506)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>Refurbished (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>Used (45)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
                        </div> --}}
                        <!-- Product sidebar Widget -->
                        {{!-- <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                                    <p class="price mb-0 mt-5">$99.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                                    <p class="price mb-0 mt-5">$89.50</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-post clearfix">
                                <div class="image">
                                    <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#">
                                </div>
                                <div class="content pt-10">
                                    <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                    <p class="price mb-0 mt-5">$25</p>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:60%"></div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                        {{!-- Banner --}}
                        <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                            <img src="/assets-user/imgs/banner/banner-wmn-sneakers.jpg" alt="">
                            <div class="banner-text">
                                <span class="text-secondary">Women Zone</span>
                                <h4>Save 17% on <br>Hot sneakers</h4>
                                <a href="/sub-categories/womens-sneakers">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<script>
   
    // swal to add a product to cart
    function addToCartConfirmation(anchor) {
        const id = anchor.getAttribute('data-id');


        $.ajax({
            url:'/add-cart/'+id,
            method:'get',
            success:(response) => {
                if(response.status) {
                    let count = $('#cart-count').html();
                    count = parseInt(count) + 1;
                    $('#cart-count').html(count);

                    Swal.fire({
                        title: "Success!",
                        text: "Product added to cart.",
                        icon: "success",
                        showConfirmButton: false,
                        showCloseButton: true,
                    }); 
                }
            },
            error: (error) => {
                if (error.status === 401) {
                    const redirectUrl = error.responseJSON.redirectUrl;
                    window.location.href = redirectUrl;
                }
            }
            
        })
    }

    // Swal to add product to wishlist
    function addToWishlistConfirmation(anchor) {
        const id = anchor.getAttribute('data-id');
        $.ajax({
            url:'/add-to-wishlist/'+id,
            method:'get',
            success:(response) => {
                if(response.status) {
                    let count = $('#wishlist-count').html();
                    count = parseInt(count) + 1;
                    $('#wishlist-count').html(count);

                     Swal.fire({
                        title: "Success!",
                        text: "Product added to wishlist.",
                        icon: "success",
                        showConfirmButton: false,
                        showCloseButton: true,
                    }); 
                }
            },
             error: (error) => {
                if (error.status === 401) {
                    const redirectUrl = error.responseJSON.redirectUrl;
                    window.location.href = redirectUrl;
                }
            }   
        })  
    }


// Pagination 
const shopPageType = document.querySelector('.shop-page-type').innerHTML;
const shopSlug = document.querySelector('.shop-slug').innerHTML;

const totalPages = parseInt(document.getElementById('total-pages').innerHTML);

console.log('shop-type: ', shopPageType);
console.log('totalPages: ', totalPages);
console.log('shopSlug: ', shopSlug);

const generatePaginationButtons = (totalPages) => {
  let html = '';
  for (let i = 1; i <= totalPages; i++) {
    html += `<li class="page-item"><a class="page-link" href="#">${i}</a></li>`;
  }
  return html;
};

const paginationContainer = document.querySelector('.pagination-area ul');
paginationContainer.innerHTML = generatePaginationButtons(totalPages);

if(shopPageType === 'shop') {
    //var url = `/shop?page=${page}`;
  paginationContainer.addEventListener('click', async (event) => {
  event.preventDefault();
  const page = event.target.textContent;
  const url = `/shop?page=${page}`;
  const response = await fetch(url);
  const data = await response.text();
  const parser = new DOMParser();
  const html = parser.parseFromString(data, 'text/html');
  
  const productListContainer = document.querySelector('.all-products');
  const newProductList = html.querySelector('.all-products');
  productListContainer.innerHTML = newProductList.innerHTML;
});
  } else if(shopPageType === 'category') {
    //var url = `/categories/${shopSlug}?page=${page}`;
    paginationContainer.addEventListener('click', async (event) => {
    event.preventDefault();
    const page = event.target.textContent;
    const url = `/categories/${shopSlug}?page=${page}`;
    const response = await fetch(url);
    const data = await response.text();
    const parser = new DOMParser();
    const html = parser.parseFromString(data, 'text/html');
    
    const productListContainer = document.querySelector('.all-products');
    const newProductList = html.querySelector('.all-products');
    productListContainer.innerHTML = newProductList.innerHTML;
    });
  } else if(shopPageType === 'subCategory') {
    //var url = `/sub-categories/${shopSlug}?page=${page}`;
    paginationContainer.addEventListener('click', async (event) => {
    event.preventDefault();
    const page = event.target.textContent;
    const url = `/sub-categories/${shopSlug}?page=${page}`;
    const response = await fetch(url);
    const data = await response.text();
    const parser = new DOMParser();
    const html = parser.parseFromString(data, 'text/html');
    
    const productListContainer = document.querySelector('.all-products');
    const newProductList = html.querySelector('.all-products');
    productListContainer.innerHTML = newProductList.innerHTML;
    });
  } else if(shopPageType === 'brand') {
    //var url = `/brands/${shopSlug}?page=${page}`;
    paginationContainer.addEventListener('click', async (event) => {
    event.preventDefault();
    const page = event.target.textContent;
    const url = `/brands/${shopSlug}?page=${page}`;
    const response = await fetch(url);
    const data = await response.text();
    const parser = new DOMParser();
    const html = parser.parseFromString(data, 'text/html');
    
    const productListContainer = document.querySelector('.all-products');
    const newProductList = html.querySelector('.all-products');
    productListContainer.innerHTML = newProductList.innerHTML;
    });
  }



//    const url = `/shop/${brandSlug}?page=${page}`;

    
</script>
